.grid1{

}
.column{
  
}
.h_button{
  font-size: 80%;

  color: white;
}
.button6 p{
  padding-left: 5px;
}
.ViewMore{
  display: flex;
  padding-top: 20px;
  font-size: 150%;
  text-decoration: none;
  align-items: center;
}
.ViewMore :hover{

}
.h_provided{
  display: flex;
  font-size: 80%;
  margin: 10px;
  padding: 10px;
  background: #fafafa;
}
.h_provided p{
  font-size: 80%;
  color: grey;
}
.h_provided :hover{
  color: #004a47;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
  .grid1{
    padding: 30px;

  }
}
.covid_tips{

}
